build/
install/
log/
third_party/camera/*
third_party/models/*
third_party/dexhand/*
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.swp
*.swo
.DS_Store
*.jsonl
*.npz
*.bag
*.db3
*.egg-info/
venv/
.venv/
.vscode/
